@import '../../styles/mixins.scss';

.services {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    gap: 2rem;
  }

  &__card {
    padding: 50px 30px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #232935;
    background-color: var(--eerie-black);
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
    margin-block: 2rem 1rem;
  }

  &__card-img {
    width: fit-content;
    margin-inline: auto;
    padding: 1.2rem;
    border: 1px solid var(--extra-color);
    border-radius: 50%;
    background-color: var(--main-color);
  }

  img {
    width: 3rem;
  }
}
