@import '../../styles/mixins.scss';

.skills {
  background-color: var(--rich-black);

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }

  h2 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 25px;

    @include respond(phone) {
      font-size: 30px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 2px;
      background: var(--extra-color);
      position: absolute;
      left: 0;
      bottom: -5px;
    }
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
  }
  span {
    color: var(--extra-color);
  }
}
